body {
    background-color: black;
    padding-top: 50px;
}

.wrapper {
    text-align: center;
}

.calculator {
    display: inline-block;
    background-color: rgb(74, 80, 94);
    margin: 20px;
    padding: 30px;
}

.screen {
    display: block;
    float: left;
    width: 580px;
    height: 90px;
    background-color: rgb(0, 231, 75);
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    text-align: right;
}

.screen-text {
    font-family: Courier, "Courier New", monospace;
    font-size: 3.5em;
    margin: 5px;
}

.cell {
    width: 100px;
    height: 100px;
    
    margin: 10px;
    padding: 10px;
    float: left;
    display: block;
}

.button-text {
    font-size: 2.5em;
}

.clear-left {
    clear: left;
}

.clear-right {
    clear: right;
}

.calculator {
    text-align: center;
}

.input {
    background-color: rgb(61, 160, 239);
}

.operation {
    background-color: rgb(215, 0, 0);
}

.special {
    background-color: rgb(255, 231, 34);
}

.hidden {
    visibility: hidden;
}